/*-------------------------------------------
  Style de la strat de présentation de la page d'accueil
--------------------------------------------- */

.presentation {
    width: 100%;
    margin-bottom: 10vh;


    .presentation-contenant {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;

        .texte-presentation {
            font-size: 1.5em;
            text-align: right;
            margin: 1em;
            line-height: 1.3;
            color: #23211e;

            h2 {
                font-family: 'EB Garamond', serif;
            }
        }

        .portrait {
            width: 80em;
            padding: 10px;
            overflow: hidden;
            
            a {
                text-decoration: none;
            }

            a:hover {

                span {
                    transform: translateY(-200px);  
                }
                
            }

            img {
                object-fit: contain;
                transition: all 0.6s ease;

                &:hover {
                    // box-shadow: 0px 0px 0px 5px #234036;
                    filter: blur(9px);
                    -webkit-filter: blur(9px);
                    -moz-filter: blur(9px);
                }
            }

            span {
                display: block;
                transform: translateY(100px);
                transition: 0.2s;
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                font-size: 1.5em;
                color: #eee0cc;
                text-align: center;
                background-color: #23211e;
                padding: 1rem;
            }
        }
    }
}

.parallax {
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.capture {
    width: 100%;
    margin-bottom: 10vh;

    .capture-contenant {
        width: 90%;
        margin: 0 auto;

        .img-capture {

            img {
                height: 50vh;
                width: 100%;
                object-fit: cover;
                margin: 0 auto;
                display: block;
            }
        }

        h2 {
            font-family: 'EB Garamond', serif;
            font-size: 2em;
            text-align: center;
        }

        p {
            font-size: 1.5em;
            border-left: 7px solid #332f22 !important;
            padding-left: 10px;
        }
    }
}

.site-footer {
    background-color: #181610;
}

// Classe avec le qui cache le contenu du défilement
.js-defilement {
    opacity: 0 !important;
    transition: opacity 3s;
}

.js-defile {
    opacity: 1 !important;

    .transition-gauche {
        animation: transition-gauche 1.3s forwards;
        animation-timing-function: ease;
    }

    .transition-droite {
        animation: transition-droite 1.3s forwards;
        animation-timing-function: ease;
    }
}