/* ------------------------------------------------------
  Style de la section inspiration de la page d'accueil
------------------------------------------------------ */

.inspiration {
    width: 100%;

    .inspiration-contenant {
        width: 90%;
        margin: 0 auto;
    }
}