/*-------------------------------------------
  Style de la strat de présentation de la page d'accueil
--------------------------------------------- */

.presentation {
    width: 100%;

    .presentation-contenant {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;

        .texte-presentation {
            font-size: 1.5em;
            text-align: right;
            margin: 1em;
            line-height: 1.3;

            h2 {
                font-family: 'EB Garamond', serif;
            }
        }

        .portrait {

            img {
                width: 25vw;
                object-fit: contain;
            }
        }
    }
}




.capture {
    width: 100%;

    .capture-contenant {
        width: 90%;
        margin: 0 auto;

        .img-capture {

            img {
                height: 50vh;
                width: 100%;
                object-fit: cover;
                margin: 0 auto;
                display: block;
            }
        }

        h2 {
            font-family: 'EB Garamond', serif;
            font-size: 2em;
            text-align: center;
        }
    }
}

.site-footer {
    background-color: #181610;
}