/* ------------------------------------------------------
  Style de la section inspiration de la page d'accueil
------------------------------------------------------ */

.inspiration {
    width: 100%;

    .inspiration-contenant {
        width: 90%;
        margin: 0 auto;

        h2 {
          text-align: center;
          font-size: 2.5rem;
        }

        .inspiration-liste {

          .inspiration-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            // border-bottom: 3px solid #23211e;
            padding: 1em 0;
            

            &:nth-child(even) {
              flex-direction: row-reverse;

              .inspiration-image {
                animation: transition-droite 1.3s forwards;
                animation-timing-function: ease;
              }

              .inspiration-texte {
                margin-right: 2em;
                text-align: right;
                animation: transition-gauche 1.3s forwards;
                animation-timing-function: ease;
              
              }
            }

            &:nth-child(odd) {
              

              .inspiration-image {
                animation: transition-gauche 1.3s forwards;
                animation-timing-function: ease;
                
              }

              .inspiration-texte {
                animation: transition-droite 1.3s forwards;
                animation-timing-function: ease;
                
              }
            }

            .inspiration-image {
             
              img {
                width: 20em;
                object-fit: cover;
                max-width: none ;
                border-radius: 5px;
              }
            }

            .inspiration-texte {
              margin-left: 2em;
              font-size: 1.4em;
            }
          }
        }
    }
}