/*-------------------------------------------
  Le carrousel du site web
--------------------------------------------- */

.swiper {
  width: 80vw;
  height: auto;
  margin-bottom: 10vh;
  position: relative;
  overflow: initial;

  .swiper-wrapper {

    .swiper-slide {
      // margin: 10px;
      width: 20vw;

      img {
        border-radius: 15px;
        width: 25vw;
        height: 35vh;
        object-fit: cover;
      }
    }
  }

  // La pagination (les pastilles au pied du carrousel)
  .swiper-pagination {
    .swiper-pagination-bullet-active {
      background-color: #23211e;
    }
  }

  // Les flèches de navigation
  .swiper-button-prev::after, .swiper-button-next::after {
    font-weight: lighter;
    font-size: 4rem;
    color: #182B25;
  }

  
}

