/*-------------------------------------------
  Styles générales
--------------------------------------------- */

body {
  background: rgb(45,80,81);
  background: linear-gradient(180deg, rgba(45,80,81,1) 0%, rgba(212,203,190,1) 100%);
  margin: 0 auto;
  background-repeat: repeat repeat;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  color: #23211e;
}

h2,h3,h4,h5 {
  font-family: 'EB Garamond', serif;
  color: #23211e;
}