/*-------------------------------------------
  Styles générales
--------------------------------------------- */

body {
  background-color: #d4cbbe;
  margin: 0 auto;
  background-repeat: repeat repeat;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  color: #23211e;
}